<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link href="../Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../CSS/index.css" type="text/css" rel="stylesheet" />
    <link href="../CSS/ToDoList.css" type="text/css" rel="stylesheet" />
    <title>ToDoList</title>
  </head>
  <body>
    <div id="list" class="container ">
      <h1 class="p-5">TODOLIST</h1>
      <div id="afaire" class="container-fluid mb-5">
        <h1 class="p-5">A FAIRE :</h1>
        <ul id="ListToDo"></ul>
        <button id="ajouter" onclick="CreateToDoItem(0)">Ajouter</button>
        <input type="text" id="inputToDo" />
      </div>
      <div id="fait " class="container-fluid mb-5">
        <h1 class="p-5">FAIT :</h1>
        <ul id="ListDo"></ul>
        <button id="ajouter" onclick="CreateToDoItem(1)">Ajouter</button>
        <input type="text" id="inputDo" />
      </div>
    </div>
  </body>
  <script src="../JS/app.js"></script>
</html>
